<div class="contents row">
  <div class="container">
    <%= form_tag('/tweets', method: :post) do %>
      <h3>
        投稿する
      </h3>
      <input placeholder="Image Url" type="text" name="image">
      <textarea cols="30" name="text" placeholder="text" rows="10"></textarea>
      <input type="submit" value="SENT">
    <% end %>
  </div>
</div>

<input placeholder="Image Url" type="text" name="tweet[image]">

<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="test.css">
  <title></title>
</head>
<body>

<div>
  <center>
    <br>
    <textarea id="fe_text" name="" rows="7" cols="100">コピー領域</textarea>
    <br>
    <br>
    <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>
      <b>コピーする</b>
    </button>
  </center>
</div>
</body>
</html>
 -->

